.scrolling-text-container{
    display: flex;
    align-items: center;
    background:aqua;
    margin-top: 30px;
    margin-bottom: 30px;
}
.scrolling-text-container span{
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    padding: 8px 20px;
    background: navy;
    color: #fff;
    clip-path: polygon(0 0,85% 0,100% 100%,0 100%);
    font-weight: bold;

}
.left span{
    clip-path: polygon(15% 0,100% 0,100% 100%,0 100%);
}